body{
    overflow-x: hidden; /* hide horizontal scrollbar */
    animation: fadebg 1.8s, fadeopacity 6s;
    animation-fill-mode: both;
    animation-delay: 0.5ms, 1.8s;
    background: rgb(0, 2, 8);
    transition: background-color 1s linear;
}
@keyframes fadebg{
    from { background-color: rgb(227, 218, 212); }
    to { background-color: rgb(0, 2, 8); }
}
@keyframes fadeopacity{
    from { opacity: 0; }
    to { opacity: 1; }
}

.header {
    padding: 18px;
    padding-left: 55px;
    padding-right: 65px;
    padding-top: 30px;
}
h1 {
    font-family : 'Antic Slab', serif;
    padding : 10px;
    /* padding-left:65px; */
    font-size : 34px;
    /* color : rgb(236, 230, 211); */
    color : #B11033;
    border-radius: 20px;
}
h1:hover{
    background-color: rgb(236, 230, 211) !important;
    color: rgb(0,2,8);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 1s;
    
}


ptitle {
    font-family : 'Antic Slab', serif;
    font-size : 33px;
    font-style : bold;
    /* color: rgb(212, 136, 145);  */
    /* color : rgb(236, 230, 211); */
    color : #B11033;
    
    display: block;
    position: relative;
    left: 62px;
    margin-bottom: 8px;
}
ptitle:after{
    content:"\a";
    white-space: pre;
}
ptitle:hover{
    text-decoration: underline;
    /* text-decoration-color: rgb(182, 106, 115); */
    text-decoration-color: #B11033;

    cursor: pointer;
}


pcontent {
    font-family : 'Quantico', sans-serif;
    color: rgb(215, 210, 190);

    display: block;
    position: relative;
    left: 85px;
    margin-right: 160px;
    margin-bottom: 20px;

    /* border: solid; */
    padding: 12px;
    border-width: 2px;
    border-style: solid;
    /* border-color: rgb(212, 136, 145); */
    border-color: #B11033;

    border-radius: 20px;
}
pcontent:after{
    content:"\a";
    white-space: pre;
}



/*
ZOOM ON CLICK FOR IMAGES
*/
input[type=checkbox] {
    display: none;
    width:1300px;
    text-align:center;
  }
  
  .container-fluid img {
  
      transition: transform 0.75s ease;
      cursor: zoom-in;
  }
  
  input[type=checkbox]:checked ~ label > img {
    transform: scale(1.3);
    cursor: zoom-out;
  }







